# OS / editor / cache
.DS_Store
__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
*.~*

# virtual envs
.venv/
venv/

# (optional) block accidental data/outputs if they ever appear here
data/
output/
interim/
